<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tv.travels.dao.PlaceDAO">

    <!--根据provinceId查询所有景点信息并排序-->
    <select id="findByProvinceIdPage" resultType="Place">
        select id,name,picpath,hottime,hotticket,dimticket,placedes,provinceid
        from t_place
        where provinceid = #{provinceId}
        order by hotticket
        limit #{start},#{rows}
    </select>
    <!--根据省份id查询当前省份景点个数-->
    <select id="findByProvinceIdCounts" parameterType="String" resultType="Integer">
        select count(id) from t_place where provinceid = #{provinceId}
    </select>

</mapper>