<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tv.travels.dao.ProvinceDAO">

    <!--分页-->
    <select id="findByPage" resultType="Province">
        select id,name,tags,placecounts
        from t_province
        order by placecounts desc
        limit #{start},#{rows}
    </select>

    <!--查询总数-->
    <select id="findTotals" resultType="Integer">
        select count(id) from t_province
    </select>

    <!--保存省份信息-->
    <insert id="save" parameterType="Province">
        insert into t_province values(#{id},#{name},#{tags},#{placecounts})
    </insert>

    <!--删除一个省份信息-->
    <delete id="delete" parameterType="String">
        delete from t_province where id = #{id}
    </delete>

    <!--获取一个省份信息-->
    <select id="findOne" parameterType="String" resultType="Province">
        select id,name,tags,placecounts from t_province where id = #{id}
    </select>

    <!--修改省份信息-->
    <update id="update" parameterType="Province">
        update t_province set name=#{name},tags=#{tags},placecounts=#{placecounts} where id=#{id}
    </update>

    <!--获取所有省份信息-->
    <select id="findAllProvince" resultType="Province">
        select id,name,tags,placecounts from t_province
    </select>

</mapper>